@model IEnumerable<ShoppingCart.Models.Product>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card" style="width:15rem; margin-bottom:30px;">
                <img src="@item.ImgPro" class="card-img-top" alt="..." style="height:200px" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center">@item.ProdName</h5>
                    <p class="card-text">@item.ProdDesc</p>
                    <p class="card-text">Price: &#8377;@item.ProdPrice</p>
                    <button style="border:none">@Html.ActionLink("Remove", "RemoveItem", "Cart", new { id = item.ProdId }, new { @class = "btn btn-danger" })</button>
                    <p class="card-text"><span>Quantity: @item.Quantity</span></p>
                    <button class="incrementItem" data-productID=@item.ProdId>+</button>
                    <button class="decrementItem" data-productID=@item.ProdId>-</button>
                </div>
            </div>
        </div>
    }



</div>

<script>
    $(document).ready(function () {
        $(".incrementItem").click(function () {
            //alert($(this).attr("data-productID
            //data: {jewellerId: filter , foo: "bar", other: "otherValue"}
            var myDataObj = 'id=' + $(this).attr("data-productID");
            var t = $(this);
            @*var $cls = $(this).attr("data-productID");*@
            $.ajax({
                type: "POST",
                url: "/Cart/incrementItem",
                data: myDataObj,
                success: function (response) {
                   @* $("." + $cls).text(function (i, origText) {
                        var newTex = response;
                        return newTex
                    });*@
                    t.prev().children().text(t.prev().children().text() - 0 + 1);
                    
                },
                error: function () {
                    alert("Error while inserting data");
                }
            })
        })

        $(".decrementItem").click(function () {
            //alert($(this).attr("data-productID
            //data: {jewellerId: filter , foo: "bar", other: "otherValue"}
            var myDataObj = 'id=' + $(this).attr("data-productID");
            var t = $(this);
            @*var $cls = $(this).attr("data-productID");*@
            $.ajax({
                type: "POST",
                url: "/Cart/decrementItem",
                data: myDataObj,
                success: function (response) {
                   @* $("." + $cls).text(function (i, origText) {
                        var newTex = response;
                        return newTex
                    });*@
                    t.prev().children().text(t.prev().children().text() - 0 + 1);
                    var qty = t.prev().prev().children().text();
                    if (qty != 1)
                        t.prev().prev().children().text(qty - 1);
                    else {
                        t.parent().parent().parent().remove();
                    }
                },
                error: function () {
                    alert("Error while inserting data");
                }
            })
        })

    })
</script>